.input-container {
	margin-bottom: 10px;
}

.input-container label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

input {
	width: 100%;
	padding: 10px;
	border: 1px solid var(--grey-light);
	border-radius: 4px;
	transition: border-color 0.3s ease;
}

input:focus {
	border-color: var(--green-main); /* Cor da borda ao focar */
	outline: none; /* Remove o contorno padrão ao focar */
	box-shadow: 0 0 0 2px var(--shadow-green); /* Adiciona uma sombra ao redor do input */
}
