.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 250px;
	border-radius: 20px;
	box-shadow: var(--shadow-black) 0px 7px 29px 0px;
	padding: 0m;
}
.card .cardImage {
	width: 250px;
	height: 200px;
}

.card .cardImage img {
	border-radius: 20px 20px 0 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.cardInformation {
	border-radius: 20px 20px;
	background-color: var(--white);
	width: 250px;
	height: 200px;
	position: relative;
	margin-top: -30px;
	padding: 0.5rem 1rem;
}

.cardInformation .information h4 {
	font-size: 2rem;
}
.cardInformation .information h4 span {
	color: var(--green-main);
	font-weight: bold;
}

.cardInformation .information {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.cardInformation p {
	font-size: 12px;
	text-align: justify;
	padding: 1rem 0;
	height: 120px;
	color: var(--grey-medium);
}

.cardInformation .buttons {
	display: flex;
	justify-content: space-between;
}
