:root {
	--green-main: #01aa13;
	--grey-medium: #8a8a8a;
	--grey-light: #ccc;
	--white: #ffffff;
	--shadow-black: rgba(0, 0, 0, 0.2);
	--shadow-green: rgba(1, 170, 19, 0.3);
	--backgrownd-modal: rgba(0, 0, 0, 0.5);
}

* {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-size: 1.6rem;
	font-family: 'Roboto', sans-serif;
}

img {
	max-width: 100%;
	display: block;
}

html {
	font-size: 62.5%;
}

button {
	cursor: pointer;
}
